.list ul{border:none}
.list li:hover{
  cursor:pointer;
  color:red;
}
.list li.active{
  color:blue;
}
.content>div{
  width:870px;
  height:600px;
  text-align:center;
  line-height:600px;
  border:0px solid #ff0900;
  display:none;
}
.content .active{
  display:block;
}